.checkbox-style {
    display: flex;
    align-items: center;
    padding: 1rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
}

.radio-style {
    display: flex;
    align-items: center;
    padding: 1rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
}

.option-indicator {
    margin-right: 1rem;
}

.option-text {
    flex-grow: 1;
}

.missed-correct {
    background-color: rgba(67, 181, 129, 0.3); /* lighter green */
    border: 2px dashed var(--success);
}

.multiple-answer-notice {
    color: var(--primary);
    font-style: italic;
    margin-bottom: 1rem;
}
